@model FizzBuzz.Models.FizzBuzzModel
<div class="container">
    <div class="row row-cols-sm-2 row-cols-1">
        <div class="col">
            <h1 class="border-bottom">instruction</h1>
            <p class="lead">mamammammamamd</p>
        </div>
        <div class="col border border-2 border-dark ">
            <form class="row row-cols-sm-2 row-cols-1 p-3" asp-action="FizzBuzz" asp-controller="Home" method="post">
                <div class="col-12 border-bottom">FizzBuzz</div>
                <div class="col">
                    <label class="label-form">Fizz</label>
                    <input asp-for="InputFizz" class="form-control" value="@Model.InputFizz" placeholder="type a number" />
                </div>
                <div class="col">
                    <label class="label-form">Buzz</label>
                    <input asp-for="InputBuzz" class="form-control" value="@Model.InputBuzz" placeholder="type a number" />
                </div>
                <button class="btn btn-outline-dark btn-sm mt-2 mx-auto" type="submit">FizzBuzz it...</button>
            </form>
            <div class="table-responsive">

                @if (Model.Result.Count != 0)
                {
                    <table class="table-sm table-striped table table-dark">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">FizzBuzz Result</th>
                            </tr>
                        </thead>
                        @for (int i = 0; i < Model.Result.Count; i += 5)
                        {
                            <tr>
                                <td>@Model.Result[i]</td>
                                <td>@Model.Result[i + 1]</td>
                                <td>@Model.Result[i + 2]</td>
                                <td>@Model.Result[i + 3]</td>
                                <td>@Model.Result[i + 4]</td>
                            </tr>
                        }
                    </table>
                }
            </div>


        </div>
     </div>
 </div>
